{% extends "MCPlatformBundle::layout.html.twig" %}

{% block title %}
Équipe projet - {{ parent() }}
{% endblock %}

{% block mcplatform_body %}

	<div class="panel panel-default">
	  <div class="panel-body">
	  	<h2 style='text-align:left'>Équipe de projet:</h2>
	  	<h2 style='text-align:center' class="bg-info">Mourad CHIBANI</h2>
	  	<h2 style='text-align:center' class="bg-warning">kheireddine BEN KALBOUSSI</h2>
		<h2 style='text-align:center' class="bg-success">Ghada BOUDHINA</h2>
		<h2 style='text-align:center' class="bg-danger">Yasmine BELBALI</h2>
	  </div>
	</div>

{% endblock %}